.latestNewsArticleContainer{
    display: grid;
    gap: 20px;
    
}
.latestNewsArticle {
    position: relative;
    padding: 30px;
    display: grid;
    border-radius: 5px;
    border: 1px solid white;
    height: 250px;
    overflow: hidden;
    background-image: url('../pages/Gifs/bitcoin.jpg');
    background-size: cover;
    background-position: center;
}

.latestNewsArticle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (last value) to make it darker or lighter */
    z-index: 1; /* Ensure the overlay is above the background image */
    border-radius: 5px; /* Ensure the overlay matches the border radius of the container */
}
.latestNewsArticle:hover::before{
    background-color: rgba(87, 87, 87, 0.5);
}

.latestNewsArticleContent {
    position: relative;
    z-index: 2; /* Ensure the content appears above the overlay */
    color: white; /* Set the color of the text */
}

.latestNewsArticle:hover{
    cursor: pointer;
}

.latestNewsArticle::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute; /* Position relative to the parent */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit; /* Inherit border-radius from the parent */
    transition: 200ms ease;
}
.latestNewsArticle:hover::before{
    color: whitesmoke;
} 

.latestNewsArticle h1,
.latestNewsArticle h2,
.latestNewsArticle p {
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    margin-top: 10px;
    position: relative; /* Ensure text appears on top of overlay */
    z-index: 1; /* Ensure text appears on top of overlay */
}

.latestNewsArticle h1 {
    font-size: 24px;
}

.latestNewsArticle h2 {
    font-size: 17px;
}


@media (max-width: 800px){
    .latestNewsArticle h2{
        font-size: 11px;
    }
    .latestNewsArticle h1 {
        font-size: 20px;
    }
}